/Clase1/C1_repo/nbproject/private/
/clase1/C1_Repo/nbproject/private/
/clase2/Problema2/nbproject/private/
/clase2/Clase3/nbproject/private/
/clase2/Mod6Problema1/nbproject/private/
/clase2/AppSueldo/nbproject/private/